<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Profissional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar_profissional.css') }}">
</head>
<body>
 <div>
    <div class="container">
        <h1>Cadastrar Profissional</h1>
        <form action="{{ url_for('cliente.cadastrar_etapa2') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group"></div>
                <label for="nome">nome</label>
                <input type="text" id="especialidade" name="nome" required>
            </div>
            <div class="form-group">
                <label for="especialidade">Especialidade:</label>
                <input type="text" id="especialidade" name="especialidade" required>
            </div>
            <div class="form-group">
                <label for="bio">Sobre</label>
                <textarea name="bio" id="experiencia" required></textarea>

            </div>
            <div class="form-group">
                <label for="foto">Foto do Profissional:</label>
                <input type="file" id="foto" name="foto" accept="image/*" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
