<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Profissionais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profissionais.css') }}">

</head>
<body>
    <h1>Lista de Profissionais</h1>
    <ul>
        {% for profissional in profissionais %}
        <li>
            <img src="{{ url_for('static', filename=profissional.foto) }}" alt="Foto de {{ profissional.nome }}">
            <a href="{{ url_for('cliente.detalhes_profissional', id=profissional.id) }}">
                {{ profissional.nome }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
