<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastros.css">
    <title>Recuperar senha</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/" ><img src="/static/img/logo.png" alt="Logo" /></a>
        </div>
    </header>
    <div class="container">
        <form id="recoveryForm" action="#">
            <h1>Recuperar Senha</h1><br>
            <span>Preencha os campos abaixo para recuperar sua conta</span>
            <input type="text" id="usuario" placeholder="Usuário" required />
            <input type="email" id="email" placeholder="Endereço de E-mail" required />
            <input type="password" id="password" placeholder="Nova Senha" required/>
            <button type="submit">Enviar</button>
            <!--criar rota no backend para mandar de volta para a página de login após ENVIAR-->
            <!--Isso só deve acontecer se as informações de usuario e email estiverem corretas-->
        </form>
    </div>

    <script src="../static/js/scriptRecover.js"></script>
</body>
</html>